language: python
sudo: false
cache: pip
dist: xenial
matrix:
  include:
    - python: "3.6"
    - python: "3.7"
    - python: "3.8"
    - python: "3.9"
install:
  - pip install tox-travis codecov
script:
  - tox -v
after_success:
  - codecov
notifications:
  email: false
  irc:
    if: branch = master
    channels:
      # This is set to a secure variable to prevent forks from sending
      # notifications. This value was created by installing
      # https://github.com/travis-ci/travis.rb and running
      # `travis encrypt "chat.freenode.net#certbot-devel"`.
      - secure: "JDbizbq58cmpQ3hbq9/PT4V0mns9jJ9oa/fF9P/e3raZkqm3APDcfVx79QiIDXShFsy4DYYZDTTPn4yuGhzX29Wo5z0ncWmMaPJP1+BnKxgh1Zit8TcG0doFXjc5A3RRXAEYRkb4ffwJtmWor/hN8fRwFFivg6yH/54I/XWUT12/nlXaMG+hygndkI9Rmg9REVd4/sScBR25xBh6bkTcG/szMZugpvJeZsbjjxaXrZxo2270wvdiUHGaGffgEVhCHuMMN8bs/5qeM1GMGohQVwqXciBZKUJ51C3YQl61O09SoJxPOjvik+6Os2iiQBkMmKiPTLpvpeXZMDVXM3tVUiLHckmSnuT6FHI4lmpNl0/qPGGlmvNL7PeUuZ+Mcry8meeSwM/3nYSAp4UZC4lojiR221fHIQiT67yUOAYxyaDoTs33QWQT8VE1FkY81DBB+pdcm2E1pgzfTLLTvprEZL+vabVr2ayvvQnTnTg8FKkulLFYDu0IZ2e68+TDULLkPfEUTQMVxq1Xv5cBza1USnF/Mee3x3I8niiHEaC2fDuNRENdQv6hMqcocHy7QiWTPACI/PJjO1CuYfN0QPpuHemxxyZSLrLy7kAnmmcMgUGCnorWcruc53FImsSZzFVAwe8th2iFgHKDPjlWFwB9xjCfgzNpGal85q8S6dVex1E="
    on_cancel: never
    on_success: never
    on_failure: always
