# Specifies Python package versions for testing.
# To update:
# python3 -m venv venv && source venv/bin/activate
# python3 -m pip install -e '.[dev,docs,tests]' && pip freeze
# Examine the produced list and update invididual entries here.
# If anything changes about this file's contents or location, we may
# need to submit a PR to pyca/cryptography, since they rely on it.

alabaster==0.7.12
attrs==21.2.0
Babel==2.9.1
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
coverage==6.1.1
cryptography==35.0.0
distlib==0.3.3
docutils==0.17.1
filelock==3.3.2
flake8==4.0.1
idna==3.3
imagesize==1.2.0
importlib-metadata==4.2.0
importlib-resources==5.4.0
iniconfig==1.1.1
Jinja2==3.0.2
MarkupSafe==2.0.1
mccabe==0.6.1
mypy==0.812
mypy-extensions==0.4.3
packaging==21.2
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
Pygments==2.10.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==3.0.0
pytest-flake8==1.0.7
pytz==2021.3
requests==2.26.0
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tomli==1.2.2
tox==3.24.4
typed-ast==1.4.3
typing-extensions==3.10.0.2
urllib3==1.26.7
virtualenv==20.10.0
zipp==3.6.0
