# Specifies Python package versions for development and testing.
# To generate:
# python3 -m venv venv3 && source venv3/bin/activate
# python3 -m pip install -e .[dev,tests] && pip freeze
# If anything changes about this file's contents or location, we may
# need to submit a PR to pyca/cryptography, since they rely on it.

apipkg==1.5
attrs==19.3.0
cffi==1.14.0
coverage==5.1
cryptography==2.9.2
execnet==1.7.1
flake8==3.7.9
mccabe==0.6.1
mock==1.3.0
more-itertools==5.0.0
packaging==20.3
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pycparser==2.20
pyflakes==2.1.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pytest==4.6.10
pytest-cache==1.0
pytest-cov==2.8.1
pytest-flake8==1.0.5
six==1.14.0
wcwidth==0.1.9
