name: Python Tests for Josepy

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    # Run at 4pm UTC or 9am PST
    - cron: "0 16 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TOXENV: mypy
    strategy:
      fail-fast: false
      matrix:
        python: ["3.6", "3.7", "3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Cache Dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/pip
            ~/.cache/pypoetry
          # Look to see if there is a cache hit for the corresponding lock file
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-
            ${{ runner.os }}-
      - name: Install Poetry & Dependencies
        run: pip install poetry && poetry install
      # TEST
      - name: Run Tox
        run: .venv/bin/tox -e py
      # STATIC CHECK
      - name: Run mypy
        run: .venv/bin/tox -e mypy
      # COVERAGE
      - name: Convert Coverage
        run: .venv/bin/python -m coverage xml
      - name: Upload Coverage
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true
  notify:
    # Only notify about failed builds for branches (not PRs).
    if: ${{ failure() && github.event_name != 'pull_request' }}
    needs: build
    runs-on: ubuntu-20.04
    steps:
      - name: Write Mattermost Message
        run: |
          WORKFLOW_RUN_URL="$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID"
          echo "{\"text\":\"** :warning: $GITHUB_REPOSITORY: Build failed :warning: ** | [(see details)]($WORKFLOW_RUN_URL) \"}" > mattermost.json
      - uses: mattermost/action-mattermost-notify@master
        env:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
